name: 返利网

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1,10,13,15 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        run: |
          git clone https://github.com/QingAnLe/YiYu.git ~/js
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: npm install
        run: |
          cd ~/js
          npm install
          npm install cron
          npm install request
          curl ipinfo.io/flwCOOKIE.js
      - name: '运行 【返利网】'
        run: |
          cd ~/js   
          node Task/flw.js
    env:
          ENCRYPT_KEY: ${{ secrets.ENCRYPT_KEY }}
